{% extends 'base.html' %} 
{% block content %}
{% load static %}


<div class="container">
    <div class="row g-0 align-items-center">
        <div class="col-md-6 text-center">
            <!-- Event title -->
            <h1 class="event-title">{{ event.title }}</h1>
            <!-- Event author and date -->
            <p class="event-subtitle">{{ event.author }} | {{ event.date }}</p>
        </div>
        <div class="col-md-6 text-center mt-4">
            <img src="{% static 'images/default.jpg' %}" class="scale img-fluid" alt="placeholder">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ event.description | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}