{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container">
    <div class="row g-0 align-items-center">
        <div class="col-md-6 text-center">
            <!-- Event title -->
            <h1 class="event-title">{{ event.title }}</h1>
            <!-- Event location -->
            <p class="event-subtitle"> <strong>Where?</strong> {{ event.location }}</p>
            <!-- Event date -->
            <p class="event-subtitle"> <strong>When?</strong> {{ event.date }}</p>
        </div>
        <div class="col-md-6 text-center mt-4">
            <img src="{% static 'images/default.jpg' %}" class="scale img-fluid" alt="placeholder">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <!-- Event description -->
                <p class="card-text">
                    {{ event.description | safe }}
                </p>
                <p class="card-text muted-text">
                    <!-- get_FOO_display method used to display associated string representation of integer model field -->
                    <strong>Suitable for familiars?</strong> {{ event.get_familiar_display }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}