{% extends "base.html" %}
{% load static %}
{% block content %}

<section id="welcome" class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 text-center">
            <h1>Welcome to the Coven</h1>

            <p>Welcome to Coven Connect – the ultimate gathering place for witches, wizards, sorcerers, druids... We welcome magical beings of all
                kinds!
                🧙‍♀️✨
                Here, we take the mystery out of meeting new friends (and maybe add a little magic instead). Whether
                you're
                a
                seasoned spellcaster, a curious beginner, or just here for the snacks at the ritual circle, you’re in
                for a
                treat –
                or a trick, depending on the phase of the moon and the mood of the faeries! 🌕🧚 </p>

            <p>Dive into a world where potions meet parties, spells meet socializing, and cauldrons meet crafts! Connect
                with your coven-mates at enchanting events, swap tips for perfecting that tricky invisibility charm, or
                debate
                the
                ethical use of love spells 💖 over a nice herbal brew.</p>

            <p>At Coven Connect, the magic isn’t just in the spells – it’s in the friendships you create and the
                adventures
                you
                embark on. So grab your wand, dust off your finest black cloak, and prepare to cast the greatest spell
                of
                all:
                making connections that last a lifetime. 🪄</p>

            <p>P.S. No hexing other members in the comments section. We’re here for good vibes only! 🐸</p>
        </div>
    </div>
</section>

{% endblock %}