@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

/* General styles */

body {
    background-color: #332a33;
    color: #fff;
    margin-bottom: 100px;
}

.links-light {
    color:#ECDDEE
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.muted-text {
    color:#ffffffae;
}

/* Header and navbar */

.bg-nav {
    background-color: #463746;
    padding-top: 2px;
    padding-bottom: 0;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fbdcfa;
}

#logo {
    height: 70px;
    width: 150px;
}

.nav-item {
    margin-left: 1rem;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

/* Welcome section */

#welcome {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/* Events section */

.card {
    border: none;
    background-color: transparent;
}

.event-card {
    border-style: solid;
    border-width: 2px;
    border-color: #F2C57C;
    min-width: 100%;
    background-color: rgb(242, 197, 124, 0.05);
}

.card-body {
    padding-top: 0;
}

.blue {
    color:#188181;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.event-image {
    margin-bottom: 25px;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.event-title {
    text-decoration: none;
    color: #CC9ECC;
    font-family: Borel, sans-serif;
    margin-top: 10%;
    margin-left: 5%;
}

.event-title:hover {
    color: #69A2B0;
}

.page-link {
    background-color: #F2C57C;
    border: #F2C57C;
    color:#332a33;
    font-weight: 500;
}

.page-link:hover {
    background-color: #188181;
    color: #332a33;
}

.event-subtitle {
    margin-left: 5%;
    color: lightgray;
    text-align: left;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #F2C57C;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Footer styles */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bg-footer {
    padding: 1rem;
    background-color: #CC9ECC;
}

.social-icons i {
    margin-left: 2rem; /* Adds spacing between icons */
    font-size: 1.5rem; /* Adjust icon size */
    color: white; /* Ensures the icons match the text color */
}

.contact-footer {
    margin-top: 1rem;
}

/* MEDIA QUERIES */

/* Media query: 474px and larger */
@media screen and (min-width: 459px) {
    .contact-footer {
        margin-top: auto;
    }
}